body, h1, h2, h3, h4 {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size: 56px;
    font-weight: bold;
    color: white;
}

h2 {
    font-weight: 300;
    color: white;
}

.row { width: 960px; margin: 0 auto;}
.min-w { min-width: 960px !important; width: 960px; }

.margin-15 { margin-top: 15px; }
.nmargin-30 { margin-top: 30px; }
.nmargin-50 { margin-top: 50px; }

.phone{ font-size: 18px; }
.phone span { font-size: 26px; font-weight: bold; }

.btn-call {
    width: 170px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: #ffc400;
    color: white;
    font-size: 17px;
    font-weight: 300;
}

/*  first zone   */
.full-first { min-width: 960px; background: #ffc400;}
.p-first {
    font-style: italic;
    font-size: 21px;
}

/*  second zone */

.h1-red {
    color: #ed2525;
    font-size: 46px;
    font-weight: 300;
}
.h1-red  span { font-weight: 600;}

.giftbox {
    position: absolute;
    top: 120px;
    left: 0px;
}

.discount {
    position: absolute;
    top: 85px;
    left: 0px;
}

.arrow-red {
    position: absolute;
    right: -50px;
    bottom: -35px;
}

/* timer */
.timer-wrap {
    float: right;
    text-align: center;
    margin-right: 10px;
}
.timer-day, .timer-hour, .timer-min, .timer-sec {
    display: inline-block;
    width: 62px;
    height: 80px;
    color: #707782;
    font-size: 37px;
    font-weight: 600;
}
.timer-day { background-image: url('../img/timer-days.png');}
.timer-hour { background-image: url('../img/timer-hour.png');}
.timer-min { background-image: url('../img/timer-min.png');}
.timer-sec { background-image: url('../img/timer-sec.png');}


.h2-black {
    color: black;
    font-size: 34px;
    font-weight: 300;
}
.h2-black  span { font-size: 28px; }
.h3-black { color: black; font-weight: 300; text-align: center;}

/*  form    */
.free-day { margin-left: 20px;}
.free-day input {
    width: 260px;
    height: 32px;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    color: #c4c4c4;
    font-weight: 300;
    border-radius: 3px;
    padding-left: 30px;
}
.free-day input.input-name { background: url("../img/user.png") no-repeat scroll 7px center; }
.free-day input.input-text { background: url("../img/phone2.png") no-repeat scroll 7px center; }
.free-day input.input-email { background: url("../img/mail.png") no-repeat scroll 7px center; }
.free-day input.input-submit { height: 50px; background-color: #ffc002; color: white; font-weight: 600; font-size: 21px; padding-left: 12px;}

/* third zone */

.full-third { min-width: 960px; background: #00b4ff; margin-top: 60px;}

.circle {
    width: 217px;
    height: 190px;
    float: left;
    margin: 47px 0 47px 0;
}
.circle img {
    margin: 0 41px 0 41px;
}
.circle p {
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 18px;
    text-align: center;
    width: 217px;
}

/* fourth zone */

.board {
    width: 956px;
    height: 717px;
    margin-top: 41px;
    margin-bottom: 42px;
    background: url(../img/table.png);
    z-index: 1;
}

.h1-fourth { font-size: 40px; font-weight: 300; text-align: center; margin-top: 50px;}
.board ul { list-style: none; margin-left: 70px; margin-top: 30px;}
.board ul li {
    color: white;
    font-size: 18px;
    margin-top: 20px;
}
.board ul li span { display: inline-block; width: 40px; height: 45px;  font-size: 30px; font-weight: bold;}
.elipse { position: absolute; left: 114px;}

/* fifth zone */

.h1-fifth { color: #3c4250; font-weight: 300; font-size: 44px; margin-bottom: 70px; text-align: center;}
.h4-fifth { text-align: center;}
.subject { margin-left: 20px;}
.btn-more { background: #00b4ff; margin-left: 20px; height: 40px; margin-bottom: 70px;}
.btn-request { width: 260px; height: 55px; background: #ffbf00; border: none; border-radius: 4px; color: white; font-size: 22px; font-weight: bold; margin-left: 350px; margin-top: -20px;}



/* sixth zone */
.full-sixth { min-width: 960px; background: #ffaa00; margin-top: 50px;}
.h1-sixth { color: #3e454f; font-size: 44px; font-weight: bold; text-align: center; margin-top: 50px; margin-bottom: 50px;}

.result-single {
    background: #3a495d;
    height: 300px;
    width: 400px;
    padding: 0;
    margin-bottom: 130px;
    border-radius: 3px;
}
.img-result-left {
    position: absolute;
    border: 3px solid #00b4ff;
    top: -75px;
    left: -15px;
}
.img-result-right {
    position: absolute;
    border: 3px solid #00b4ff;
    top: -75px;
    right: -15px;
}

.result-btn-first, .result-btn-second {
    border: none;
    height: 32px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
}
.result-btn-first  { width: 110px; background: #00b4ff; font-weight: bold; }
.result-btn-second { width: 155px; background: #147da8; }
.h3-sixth, .h4-sixth, .p-sixth{
    color: white;
    text-align: center;
}
.h4-sixth {
    margin-top: 80px;
}

/* eighth zone*/
.full-eighth { min-width: 960px; background: #05b5ff; margin-top: 110px;}
.h1-eighth { font-size: 52px; font-weight: 300; text-align: center; margin-top: 50px; margin-bottom: 60px;}

.teacher-single { margin-bottom: 60px;}
.img-teacher { border: 3px solid white; margin-left: 70px;}
.teacher-single h4, .teacher-single h3, .teacher-single p {
    text-align: center;
}
.teacher-single h3 { color: white; }
.teacher-single h4 { margin-top: 20px; }

/* fake */
.fake2 {
    position: absolute;
}

h1.fake2  {
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    margin-left: 250px;
    margin-top: 40px;
    color: #3c4250;
}

.six_block {
    position: absolute;
    width: 200px;
    height: 105px;
}

.six_block p {
    text-align: center;
    color: #3c4250;
    font-family: 'Open Sans';
    font-size: 18px;
}

.six_1 {
    margin-left: 115px;
    margin-top: 305px;
}

.six_2 {
    margin-left: 380px;
    margin-top: 305px;
}

.six_3 {
    margin-left: 650px;
    margin-top: 305px;
}

.six_4 {
    margin-left: 115px;
    margin-top: 595px;
}

.six_5 {
    margin-left: 380px;
    margin-top: 595px;
}

.six_6 {
    margin-left: 650px;
    margin-top: 595px;
}

.h736 {
    width: 960px;
    height: 736px;
}

.h951 {
    width: 960px;
    height: 951px;
}

.faq_h1 {
    position: absolute;
    margin-left: 120px;
    font-size: 51px;
    font-family: 'Open Sans';
}

.faq_block {
    width: 700px;
    height: 175px;
    position: absolute;
}

.faq_block h3 {
    margin-top: 0px;
    color: #ffffff;
    font-size: 30px;
}

.faq_block p {
    margin-top: 0px;
    color: #3c4250;
    font-size: 18px;
    line-height: 20px;
}

.faq-01 {
    margin-left: 123px;
    margin-top: 130px;
}

.faq-02 {
    margin-left: 220px;
    margin-top: 270px;
}

.faq-03 {
    margin-left: 340px;
    margin-top: 435px;
}

.faq-04 {
    margin-left: 220px;
    margin-top: 620px;
}

.faq-05 {
    margin-left: 123px;
    margin-top: 785px;
}

.full-tenth { min-width: 960px; background: #ffab00; margin-top: 60px;}
.full-eleventh { min-width: 960px; background: #00b4ff; margin-top: 60px; }

.footer-adress { text-align: center; margin-top: 20px;}

/* six-reasons zone */
.h1-sr {
    color: #3c4250;
    font-size: 44px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}
.sr-list {
    margin-left: 85px;
    list-style: none;
    font-size: 22px;
    margin-top: 40px;
}
.sr-list li img {
    padding-right: 10px;
    margin-left: 10px;
}
.sr-list li {
    margin-top: 5px;
    width: 710px;
    padding: 5px;
}

.sr-list li:nth-child(2n+1){
    background: #ffbf00;
    color: white;
}











